/* ================================
   Base
================================= */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Canva Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    background-size: cover;

    .weather_container {

        padding: 5rem;

        .geolocation {

            h1 {
                font-size: 2.5rem;
                font-weight: bolder;
            }

            .celcius_container {
                align-items: flex-start;
                font-size: 9rem;
                font-weight:800;

                i {
                    position: absolute;
                    top: 3rem;
                    right: -3.5rem;
                    transform: translateX(-50%);
                    font-size: 2rem;
                    font-weight:bold;
                }
            }

           .description_container {
                font-size: 3rem;
                font-weight:bold;
           }
        }

        .card {

            .container-header {
                i {
                    font-size: 1.5rem;
                }

                span {
                    font-size: 1rem;                    
                }
            }
            

            .container-body {
                font-size: 2rem;  
                margin-top:10px;
                margin-bottom:10px;
                min-height: 1rem;
            }

            .container-body.feels_like {
                align-items: flex-start;
                i {
                    position: absolute;
                    top: 10px;
                    right: -1.3rem;
                    transform: translateX(-50%);
                    font-size: 10px;
                    font-weight: bold;
                }
            }
        }
    }
}

.morning {
    background-image: url(../../public/img/morning-bg.png);   
    .weather_container {
        color: #334155;

        .card {            
            background-color: rgba(60, 60, 60, 0.6);
            color: #FFFFFF;
        }
    }
}

.afternoon {
    background-image: url(../../public/img/afternoon-bg.png);  
    .weather_container {
        color: #444444;

        .card {            
            background-color: rgba(111, 109, 111, 0.5);
            color: #E6D0F0;
        }
    }
}

.night {
    background-image: url(../../public/img/night-bg.png);  

    .weather_container {
        color: #FFFFFF;

        .card {
            color: #F8FAFC;
            background: rgba(42, 68, 104, 0.5);
        }
    }
}

@media (max-width: 1340px) {

    h1 {
        font-size: 1.4rem;
    }

    .col-md-4 {
        flex: 0 0 50% !important;
        max-width: 50% !important;
    }
}

@media (max-width: 930px) {

     .weather_container {

        padding: 5rem 1rem!important;

        .geolocation {
            h1 {
                font-size:30px!important;
            }        
        }

        .box {
            display: flex;
            align-items: baseline;
            gap: 5rem;

            .celcius_container {
                display: inline-flex;
                position: relative;
                font-size: 5rem;

                i {
                    top: 0.5rem;
                    right: -1.5rem;
                    font-size: 1rem;
                }
            }

            .description_container {
                font-size: 2rem;
                font-weight: bold;
            }
        }


        .col-md-4 {
            flex: 0 0 100% !important;
            max-width: 100% !important;

            .col-md-6 {
                width: 50%!important;
            }
        }
    }
}

@media (max-width: 600px) {
    .box {
        display: inherit!important;
        text-align: center!important;

        .description_container {
            font-size: 2rem!important;
            font-weight: bold;
        }
    }
}

@media (max-width: 400px) {

    .container-fluid {
        display: inherit!important;
        align-items: unset!important;

        .weather_container{

            padding:5rem!important;

            
            .col-md-4 {
                flex: 0 0 100% !important;
                max-width: 100% !important;
            }

            .col-md-6 {
                width: 100%!important;
            }

        }

        .geolocation {
            h1 {
                font-size:25px!important;
            }        
        }
        
        .container-body.time,
        .container-body.source {
            font-size: 1rem !important;
        }
    }
}